.skill-data{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sd-name{
    font-size: 2.4rem;
    padding: 2px 0px;
    font-family: 'Roboto';
    font-weight: bolder;
    margin-top: 10px;
    color: black;
}

.sd-img{
    margin: auto;
    max-width:400px;
    max-height: auto;
    object-fit: fill;
    margin-bottom: 10px;
}

@media screen and (max-width:900px){
    .sd-img{
        max-width: 250px;
    }
}